
.eventsPage
  max-width: 100%
  margin: 0px 50px
  padding: 20px
  text-align: center
  & p
    font-size: 18px
    color: #555

h1
  font-size: 28px
  margin: 20px
  font-weight: bold
  text-align: center

.eventsContainer
  display: flex
  flex-direction: row
  gap: 20px

.eventsList
  display: flex
  flex-direction: column
  gap: 10px
  width: 100%

// .eventItem
//   background: #f8f9fa
//   padding: 15px
//   border-radius: 8px
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
//   display: flex
//   justify-content: space-between
//   align-items: center

//   &.expired
//     background: #ffdddd
//     color: #d8000c
//     font-weight: bold

.Footer
  margin-top: auto

@media screen and (max-width: 768px)
  .eventsPage
    margin: 0 auto
  .eventsContainer
    flex-direction: column
    gap: 20px
