
.eventsPage
  max-width: 100%
  margin: 0px 90px
  padding: 20px
  text-align: center
  & p
    font-size: 18px
    color: #555

.eventsTitle
  font-size: 28px
  margin: 20px
  font-weight: bold
  text-align: center

.eventsContainer
  display: flex
  flex-direction: row
  gap: 20px

.eventsList
  display: flex
  flex-direction: column
  gap: 10px
  width: 100%

@media screen and (max-width: 768px)
  .eventsPage
    margin: 0 auto
  .eventsContainer
    flex-direction: column
    gap: 20px
