.hhIner
  padding: 40px 0 0 0
  background-repeat: no-repeat
  background-position: top center
  background-size: cover

.content
  max-width: 100%
  margin: 0 auto
  padding: 20px 0 30px 0
  text-align: center

.container
  width: 100%
  margin-right: auto
  margin-left: auto

.flex
  max-width: 1040px
  margin: 0 auto
  display: flex
  align-items: center
  padding-bottom: 0
  justify-content: space-between

.left
  max-width: 490px
  text-align: left

  h4
    color: #377dff
    font-size: 12px
    font-weight: 400
    padding: 0.4375rem 0.9375rem
    background: rgba(55, 125, 255, 0.1)
    border-color: transparent
    display: inline-block
    line-height: 21px
    border-radius: 20px
    transition: all 0.2s ease-in-out
    margin-bottom: 0.5rem !important
    font-family: "Product Sans", sans-serif
    letter-spacing: 0.6px

  h1
    max-width: 100%
    font-size: 40px
    color: #19184A
    font-weight: bolder
  p
    color: rgba(25,24,74,0.5)
    font-size: 16px
    margin-top: 10px
    line-height: 25px

.right
  width: 50%
  text-align: center

.videoBox
  position: relative
  padding-top: 56.25%
  margin: 16px auto 0 auto
  border-radius: 16px
  border-bottom: 3px solid #637cf7
  overflow: hidden
  width: 100%

  iframe
    bottom: 0
    left: 0
    border: 0
    position: absolute
    top: 0
    height: 100%
    width: 100%

.homeBlock
  padding: 80px 0
  position: relative
  background: linear-gradient(271.19deg, rgba(48, 125, 246, .05) 0%, rgba(20, 187, 191, .05) 100%), #FFFFFF

.hbCaption
  max-width: 640px
  margin-left: auto
  margin-right: auto

.max500
  max-width: 500px
  margin-left: auto
  margin-right: auto
  text-align: center

  span
    color: #377dff
    font-size: 0.6875rem
    font-weight: 400
    padding: 0.4375rem 0.9375rem
    background: rgba(55, 125, 255, 0.1)
    border-color: transparent
    border-radius: 50px
    display: inline-block
    margin-bottom: 15px

  h2
    color: #19184A
    font-size: 32px
    font-weight: 700
    margin: 0
  p
    margin: 10px auto auto
    max-width: 800px
    font-weight: bold

.row
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-around

.colCard
  max-width: 30%
  margin: 20px

.item
  height: 100%
  margin: 0 0 30px 0
  padding: 25px
  background: #fff
  box-shadow: 0 16px 32px rgb(0 0 0 / .04)
  border-radius: 24px
  margin: 0 0 30px 0

.alignBox
  display: flex
  flex-direction: column
  justify-content: space-between

  .icon
    margin: 0 0 10px 0
    background-image: '/client/public/staticImages/g1.png'

  h3
    font-weight: 700
    margin: 0 0 10px 0
    font-size: 20px
    color: #000
  p
    margin: 0
    color: #828282
    margin-bottom: 1rem

.mb3

  .button
    background-color: #fff
    font-size: 16px
    color: #fff
    display: inline-flex
    align-items: center
    font-weight: 700
    padding: 13px 20px
    justify-content: center
    transition: all ease .3s
    border-radius: 8px
    background: rgb(255 255 255 / .16)
    position: relative
    text-decoration: none

  .buttonBrand
    background-color: #637cf7
    color: #fff
    background: linear-gradient(45deg, #5a73ed 0, #3d57d5 100%)
    outline: 0
    border: none

  .arrowRight
    width: 35px
    height: 25px
    background-repeat: no-repeat
    background-position: center center
    flex-shrink: 0
    margin: 0 0 0 10px
    transition: all ease .3s
    position: relative
    left: 0

  .button:hover
    background: linear-gradient(45deg, #3d57d5 0, #5a73ed 100%)
    .arrowRight
      left: 10px
