.hhIner
  padding: 40px 0 0 0
  background-repeat: no-repeat
  background-position: top center
  background-size: cover

.content
  max-width: 100%
  margin: 0 auto
  padding: 20px 0 30px 0
  text-align: center

.container
  width: 100%
  margin-right: auto
  margin-left: auto
  h3
    font-weight: 700
    font-family: "Product Sans", sans-serif
    line-height: 1.3
    font-size: 28px

.flex
  max-width: 1040px
  margin: 0 auto
  display: flex
  align-items: center
  padding-bottom: 0
  justify-content: space-between

.left
  max-width: 490px
  text-align: left

  h4
    color: #377dff
    font-size: 12px
    font-weight: 400
    padding: 0.4375rem 0.9375rem
    background: rgba(55, 125, 255, 0.1)
    border-color: transparent
    display: inline-block
    line-height: 21px
    border-radius: 20px
    transition: all 0.2s ease-in-out
    margin-bottom: 0.5rem !important
    font-family: "Product Sans", sans-serif
    letter-spacing: 0.6px

  h1
    max-width: 100%
    font-size: 40px
    color: #19184A
    font-weight: bolder
  p
    color: rgba(25,24,74,0.5)
    font-size: 16px
    margin-top: 10px
    line-height: 25px

.right
  width: 50%
  text-align: center

.videoBox
  position: relative
  padding-top: 56.25%
  margin: 16px auto 0 auto
  border-radius: 16px
  border-bottom: 3px solid #637cf7
  overflow: hidden
  width: 100%

  iframe
    bottom: 0
    left: 0
    border: 0
    position: absolute
    top: 0
    height: 100%
    width: 100%

.homeBlock
  padding: 80px 0
  position: relative
  background: linear-gradient(271.19deg, rgba(48, 125, 246, .05) 0%, rgba(20, 187, 191, .05) 100%), #FFFFFF

.hbCaption
  max-width: 640px
  margin-left: auto
  margin-right: auto

.max500
  max-width: 500px
  margin-left: auto
  margin-right: auto
  text-align: center

  span
    color: #377dff
    font-size: 0.6875rem
    font-weight: 400
    padding: 0.4375rem 0.9375rem
    background: rgba(55, 125, 255, 0.1)
    border-color: transparent
    border-radius: 50px
    display: inline-block
    margin-bottom: 15px

  h2
    color: #19184A
    font-size: 32px
    font-weight: 700
    margin: 0

  h3
    font-size: 26px
    font-weight: 700

  p
    margin: 10px auto auto
    max-width: 800px
    font-weight: bold

.row
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  max-width: 1400px
  width: 100%
  margin: auto
  gap: 10px

.colCard
  max-width: 400px
  width: 100%
  flex: 1 1 0
  margin: 10px

.item
  height: 100%
  padding: 25px
  background: #fff
  box-shadow: 0 16px 32px rgb(0 0 0 / .04)
  border-radius: 24px
  margin: 0 0 30px 0

.alignBox
  display: flex
  flex-direction: column
  justify-content: space-between

  .icon
    margin: 0 0 10px 0
    background-image: '/client/public/staticImages/g1.png'

  h3
    font-weight: 700
    margin: 0 0 10px 0
    font-size: 20px
    color: #000
  p
    margin: 0
    color: #828282
    margin-bottom: 1rem

.mb3

  .button
    background-color: #fff
    font-size: 16px
    color: #fff
    display: inline-flex
    align-items: center
    font-weight: 700
    padding: 13px 20px
    justify-content: center
    transition: all ease .3s
    border-radius: 8px
    background: rgb(255 255 255 / .16)
    position: relative
    text-decoration: none

  .buttonBrand
    background-color: #637cf7
    color: #fff
    background: linear-gradient(45deg, #5a73ed 0, #3d57d5 100%)
    outline: 0
    border: none

  .arrowRight
    width: 35px
    height: 25px
    background-repeat: no-repeat
    background-position: center center
    flex-shrink: 0
    margin: 0 0 0 10px
    transition: all ease .3s
    position: relative
    left: 0

  .button:hover
    background: linear-gradient(45deg, #3d57d5 0, #5a73ed 100%)
    .arrowRight
      left: 10px

.stepCard
  max-width: 20%
  min-height: 100%
  display: flex
  flex-direction: column
  align-items: start
  padding: 20px
  background: #fff
  box-shadow: 0 16px 32px rgb(0 0 0 / .04)
  border-radius: 24px
  margin: 20px 5px 30px 5px
  position: relative

  span
    font-size: 14px
    color: #fff
    font-weight: 700
    background: #4942F3
    border-radius: 20px
    text-align: center
    align-items: center
    padding: 5px 10px

  p
    margin-top: 20px
    color: #828282
    flex-grow: 1

  .arrowRight
    font-size: xx-large
    color: blue
    font-weight: bold
    position: relative
    align-self: flex-end
    left: 15%
    bottom: 45%

.container
  .faqsTabs
    max-width: 680px
    width: 100%
    margin: 0px auto
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    overflow: hidden
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFFFFF
    border-radius: 16px
    margin-top: 10px
    span
      padding: 15px
      border-radius: 16px
      cursor: pointer
    .active
      background: linear-gradient(45deg, #ff6955 0, #e97543 100%)
      color: #fff
  h4
    max-width: 680px
    margin: 12px auto 30px auto
    font-size: 1.75rem
    text-align: start
    font-weight: bold

.questioWrap
  max-width: 680px
  margin: 12px auto 30px auto
  display: flex
  flex-direction: column
  gap: 15px

.faqItem
  margin-bottom: 15px
  max-width: 680px
  font-size: 16px
  font-weight: 700
  color: #19184a
  padding: 24px 24px 24px 24px
  position: relative
  cursor: pointer
  border-radius: 16px
  box-shadow: 0 0 1px 1px lightgrey

  &:hover
    outline: 1px solid blue
    background-color: rgba(48, 125, 246, 0.1)

  &.active
    max-height: 500px
    overflow: hidden
    transition: max-height 0.5s ease, background-color 0.3s ease
    background-color: #317df6
    color: white

.question
  display: flex
  justify-content: space-between
  span
    padding-right: 10px
    text-align: start

.answer
  margin: 0
  font-size: 12px
  color: #fff
  padding-top: 20px
  text-align: start
  font-weight: normal

.icon
  transition: transform 0.3s ease

.open
  transform: rotate(45deg)

.searchBlock
  text-align: center
  background: #fff
  padding: 80px 0

.searchContainer
  border-bottom: 1px solid #edeff3
  padding-top: 40px
  padding-bottom: 60px

.searchForm
  background: linear-gradient(45deg, rgb(142 97 255 / .5333333333) 0, #339bf7 50%, rgb(43 198 215 / .431372549) 100%)
  border-radius: 30px
  padding: 2px
  margin: 0 auto 30px auto
  position: relative
  max-width: 650px
  input
    border: none
    outline: 0
    display: block
    width: 600px
    padding: 0px 20px 0px 30px
    text-align: left
    background: #fff
    border-radius: 999px
    font-size: 24px
    height: 60px
    line-height: 60px
    color: #343434
    font-size: 18px
    font-weight: 400

  button
    background: #ff6955
    color: white
    width: 68px
    height: 54px
    padding: 0
    position: absolute
    top: 5px
    right: 5px
    cursor: pointer
    border: none
    border-radius: 40px
    transition: all ease .6s
    box-shadow: 3px 3px 10px 0 rgb(255 104 85 / .3)
    span
      background-image: url('../../../public/staticImages/search-white.svg')
      width: 21px
      height: 21px
      display: inline-block
      background-position: center
      background-size: 100%
      position: relative
      top: 4px
      color: white

.searchIcon
  background-image: url('../../../public/staticImages/search.svg')
  width: 20px
  height: 20px
  position: absolute
  top: 21px
  left: 11px

.listTags
  display: flex
  flex-directions: row
  justify-content: center

  a
    text-decoration: none
    display: inline-block
    margin: 0 12px 12px 0
    font-size: 14px
    font-weight: 400
    padding: 6px 12px
    border-radius: 20px
    transition: all ease .3s
    color: #2b2aaa
    border: none
    background: rgb(43 42 170 / .1)
    box-shadow: 0 1px 6px rgb(17 17 17 / .06)
    backdrop-filter: blur(23.7219px)
    &:hover
      background: none
