.eventList
  padding: 20px
  background: #fff
  border-radius: 10px
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)

  .header
    display: flex
    justify-content: space-between
    color: grey

  h2
    font-size: 20px
    margin-bottom: 10px
    text-align: left

  p
    margin-bottom: 10px
    font-size: 14px
    opacity: 0.7

  svg
    font-size: 16px
    font-weight: bolder
    padding-left: 10px
    margin-bottom: -4px

  .listContainer
    display: inline-grid
    flex-direction: column
    width: 100%
    gap: 10px
    max-height: 500px
    overflow-y: auto
    padding-right: 10px

    &::-webkit-scrollbar
      width: 6px

    &::-webkit-scrollbar-thumb
      background: #ccc
      border-radius: 3px

    &::-webkit-scrollbar-thumb:hover
      background: #999
